<div class="container">
  <mat-card class="forgot-password-card">
    <mat-card-header>
      <mat-card-title>Redefinir Senha</mat-card-title>
      <mat-card-subtitle>Digite seu e-mail para receber o link de redefinição.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form *ngIf="!submitted" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" (keyup.enter)="onSubmit()">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">
          Enviar Link
        </button>
      </form>
      <div *ngIf="submitted" class="success-message">
        <mat-icon>mark_email_read</mat-icon>
        <p>Se este e-mail estiver cadastrado, um link foi enviado. Verifique sua caixa de entrada e spam.</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/login">Voltar para o Login</a>
    </mat-card-actions>
  </mat-card>
</div>