<ng-container *ngIf="kpis$ | async as kpis; else loading">

  <div class="page-container">
    <h1>Overview da Equipe</h1>
    <p>Um resumo geral do desempenho e atividades da sua equipe no mês atual.</p>

    <div class="kpi-cards-container">

      <mat-card class="kpi-card">
        <div class="kpi-content">
          <p class="kpi-title">Solicitações Pendentes</p>
          <span class="kpi-value">{{ kpis.pendingRequests }}</span>
        </div>
        <div class="kpi-icon-wrapper orange">
          <mat-icon>rule</mat-icon>
        </div>
      </mat-card>

      <mat-card class="kpi-card">
        <div class="kpi-content">
          <p class="kpi-title">Agentes Ativos</p>
          <span class="kpi-value">{{ kpis.activeAgents }}</span>
        </div>
        <div class="kpi-icon-wrapper green">
          <mat-icon>groups</mat-icon>
        </div>
      </mat-card>

      <mat-card class="kpi-card">
        <div class="kpi-content">
          <p class="kpi-title">Vendas no Mês</p>
          <span class="kpi-value">{{ kpis.monthlySales }}</span>
        </div>
        <div class="kpi-icon-wrapper blue">
          <mat-icon>trending_up</mat-icon>
        </div>
      </mat-card>

      <mat-card class="kpi-card">
        <div class="kpi-content">
          <p class="kpi-title">Destaque do Mês</p>
          <span class="kpi-value">{{ kpis.topAgent.name }}</span>
          <span class="kpi-sub-value">{{ kpis.topAgent.sales }} vendas</span>
        </div>
        <div class="kpi-icon-wrapper purple">
          <mat-icon>star</mat-icon>
        </div>
      </mat-card>

    </div>
  </div>

</ng-container>

<ng-template #loading>
  <div class="page-container">
    <h1>Overview da Equipe</h1>
    <p>Um resumo geral do desempenho e atividades da sua equipe no mês atual.</p>
    <p>Calculando métricas...</p>
    </div>
</ng-template>